@model Psz.Core.CRP.Reporting.Models.FADruckModel

<html>
<head>
    <meta charset="UTF-8">
    <style>
        @@page {
            margin-top: 20;
            margin-bottom: 0;
            margin-left: 50;
            font-family: Helvetica, sans-serif;
        }

        body {
            font-family: Helvetica, sans-serif;
        }

        table {
            border-collapse: collapse;
        }

        table td, table td * {
            vertical-align: top;
            border-width: 0px;
            }

        .hr {
            height: 0.5px;
            border-width: 0;
            color: black;
            background-color: black;
        }
        .table-cell {
            color: black;
            padding: 5px 5px;
            text-align: left;
            font-size:10px;
        }
        .no-wrap
        {
            white-space: nowrap !important;
        }
        .left{
            text-align: left !important;
        }
        .center{
            text-align: center !important;
        }
        .left {
            text-align: left !important;
        }
        .right{
            text-align: right !important;
        }
        .big{
            font-size: 18px !important;
        }
        .medium{
            font-size: 14px !important;
        }

        .small {
            font-size: 10px !important;
        }
        .blue{
            color: #00006C;
        }
        .bold{
            font-weight: bold !important;
        }
        .normal{
            font-weight: normal !important;
        }
        .gray{
            background-color:gainsboro
        }
        .border-bottom{
            border-bottom: 1px solid black !important;
        }
        .max-80
        {
            max-width: 150px !important;
        }
        .max-60{
            max-width: 100px !important;
        }
        .vertival-top{
            vertical-align: top !important;
        }

        .vertival-middle {
            vertical-align: middle !important;
        }

        .blue-cell{
            background-color: dodgerblue;
            color: white;
            font-weight: bold;
            padding: 10px;
            font-size:10px;
        }
        .bordered{
            border: 1px solid black;
        }
        .bottom-dotted{
            border-bottom: 1px dotted black !important;
        }
        .padding-7{
            padding:7px !important;
        }
    </style>
</head>
<body style="font-size:14px;">
    @if(Model !=null)
    {
        <table style="width:100%">
            <tr>
                <th class="big bold left">
                    FEHLERSAMMELKARTE<br />
                    PRUBEZNA KARTA<br />
                    KARTELE SHOQERIMI<br />
                    CARTE D'ACCOMPAGNEMENT
                </th>
                <th class="big bold right vertival-top">PSZ Electronic GmbH</th>
            </tr>
        </table>
        <tr><td colspan='9'><hr class='hr'></td></tr>
        <table style="width:100%">
            <tr>
                <th class="small normal center no-wrap">
                    FA. Nr:/Order number/ Numeri I Porosise/ <br />
                    pořadové číslo/numéro de commande <br /><br />
                    <b>@Model.Header.Fertigungsnummer</b>
                </th>
                <th class="small normal center no-wrap">
                    Art.Nr.  Item number / Nr. i Artikullit / <br />
                    číslo položky/numéro de commande<br /><br />
                    <b>@Model.Header.Artikelnummer</b>
                </th>
                <th class="small normal center no-wrap">
                    Menge FA/ Quantity order /Sasia e porositur / <br />
                    spotřeba/ taux d'application<br /><br />
                    <b>@Model.Header.Anzahl</b>
                </th>
            </tr>
        </table>
            <br />
            <table style="width:100%">
                <tr>
                    <th class="small normal center no-wrap">
                        Kunden Nr / Customer number/Nr. Klientit/ <br />
                        zákaznické číslo  /numéro de client
                    </th>
                    <th class="small normal center no-wrap">
                        Hinweis Bestellung/ Note order/  Shenim per porosine <br />
                        poznámka k objednávce/ Note d'ordre
                    <b></b>
                    </th>
                    <th class="small normal center no-wrap">
                        Liefertermin/Data e dorezimit <br />
                        dodávka/ livraison
                    </th>
                </tr>
        </table>
        <br />
        <table style="width:100%">
            <tr>
                <th class="small bold center">@Model.Header.Bezeichnung_1</th>
                <th class="small bold center max-60">@Model.Header.Bemerkung</th>
                <th class="small bold center">@Model.Header.Termin_Fertigstellung</th>
            </tr>
        </table>
        <br />
        <table style="width:100%">
            <tr>
                <th colspan="7" class="small bold left bordered vertival-top">Elektrische Kontrolle/ Electrical control / Kontrolli Elektrik/ Elektrická kontrola / Contrôle électrique</th>
            </tr>
            <tr>
                <th class="small bold left bordered vertival-top">Datum/ <br />Date/<br /> Data</th>
                <th class="small bold left bordered vertival-top">
                    Celkový počet kusů/<br />
                    Gesamtmenge/<br />
                    total quantity/<br />
                    Sasia e Kontrolluar
                </th>
                <th class="bold small left bordered vertival-top">
                    Počet špatných kusů/<br />
                    Produkte mit Defekt/<br />
                    Products with defect/<br />
                    Produkte me defekt/<br />
                    Produits défectueux
                </th>
                <th class="small bold left bordered vertival-top">
                    Kód závady/<br />
                    Fehlercode/<br />
                    error code/<br />
                    Kodi i defektit/<br />
                    fonction d'erreur
                </th>
                <th class="small bold left bordered vertival-top">
                    Směna/Skupina/Hala/oddělení/<br />
                    Schicht/Gruppe/Halle/Werk<br />
                    Layer / group / Plant<br />
                    Turni /Grupi /Reparti/Fabrika<br />
                    Shift / groupe / département
                </th>
                <th class="small bold left bordered vertival-top">
                    Poznámka/<br />
                    Bemerkung/comment<br />
                    vërejtje/ Remarque/
                </th>
                <th class="small bold left bordered vertival-top">
                    číslo<br />
                    zaměstnance/podpis<br />
                    Mitarbeiter Nr.<br />
                    Employee number<br />
                    Numri i Punonjesit<br />
                    Numéro d'employé
                </th>
            </tr>
            @for (int i = 1; i <=9; i++)
            {
                <tr>
                    <td class="padding-7 bordered"></td>
                    <td class="padding-7 bordered"></td>
                    <td class="padding-7 bordered"></td>
                    <td class="padding-7 bordered"></td>
                    <td class="padding-7 bordered"></td>
                    <td class="padding-7 bordered"></td>
                    <td class="padding-7 bordered"></td>
                </tr>
            }
            <tr>
                <th colspan="7" class="small bold left bordered vertival-top">Optische Kontrolle/ Visual control/  Kontrolli Optik/ Vizuální kontrola/ Inspection visuelle</th>
            </tr>
            <tr>
                <th class="small bold left bordered vertival-top">Datum/ <br />Date/<br /> Data</th>
                <th class="small bold left bordered vertival-top">
                    Celkový počet kusů/<br />
                    Gesamtmenge/<br />
                    total quantity/<br />
                    Sasia e Kontrolluar
                </th>
                <th class="bold small left bordered vertival-top">
                    Počet špatných kusů/<br />
                    Produkte mit Defekt/<br />
                    Products with defect/<br />
                    Produkte me defekt/<br />
                    Produits défectueux
                </th>
                <th class="small bold left bordered vertival-top">
                    Kód závady/<br />
                    Fehlercode/<br />
                    error code/<br />
                    Kodi i defektit/<br />
                    fonction d'erreur
                </th>
                <th class="small bold left bordered vertival-top">
                    Směna/Skupina/Hala/oddělení/<br />
                    Schicht/Gruppe/Halle/Werk<br />
                    Layer / group / Plant<br />
                    Turni /Grupi /Reparti/Fabrika<br />
                    Shift / groupe / département
                </th>
                <th class="small bold left bordered vertival-top">
                    Poznámka/<br />
                    Bemerkung/comment<br />
                    vërejtje/ Remarque/
                </th>
                <th class="small bold left bordered vertival-top">
                    číslo<br />
                    zaměstnance/podpis<br />
                    Mitarbeiter Nr.<br />
                    Employee number<br />
                    Numri i Punonjesit<br />
                    Numéro d'employé
                </th>
            </tr>
            @for (int i = 1; i <= 4; i++)
            {
                <tr>
                    <td class="padding-7 bordered"></td>
                    <td class="padding-7 bordered"></td>
                    <td class="padding-7 bordered"></td>
                    <td class="padding-7 bordered"></td>
                    <td class="padding-7 bordered"></td>
                    <td class="padding-7 bordered"></td>
                    <td class="padding-7 bordered"></td>
                </tr>
            }
        </table>
        <br />
        <table style="width:100%">
            <tr>
                <th class="small center bold bordered">Verpackung/ packaging/ Paketimi/ zabalení/ emballage</th>
            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <th class="small left bold bordered">Datum der Verpackung/ Date of packaging/ Data e paketimit/ Date d'emballage</th>
                <th class="small left bold bordered">Menge  / piece/ Sasia e Pergatitur/ hodně/množství/ot</th>
            </tr>
            <tr>
                <th class="bordered padding-7"></th>
                <th class="bordered padding-7"></th>
            </tr>
        </table>
    }
    <pre></pre>
</body>
</html>