@model Infrastructure.Services.Reporting.Models.Itext.CTS_ABReportModel
<html>
<head>
    <style>
        @@page {
            margin-top: 70;
            margin-bottom: 180;
            margin-left: 50;
            margin-right: 50;
            font-family: Helvetica, sans-serif;
        }

        body {
            font-family: Helvetica, sans-serif;
        }

        table {
            border-collapse: collapse;
        }

        .invoiceHeaders {
            vertical-align: top;
            border: 0px;
            /*background-color: lightgray;*/
            padding-top: 5px;
            padding-bottom: 5px;
            /*text-align:left;*/
        }

        .bgGrey {
            background-color: lightgray;
        }

        .borderTop {
            border-top: 1px solid #333;
        }

        .borderBottom {
            border-bottom: 1px solid #999;
        }

        table tr td th {
            page-break-inside: avoid;
        }

        td, tr {
            border: 1px solid black;
        }

        table td, table td * {
            vertical-align: top;
            border-width: 0px;
        }

        .hr {
            height: 0.5px;
            border-width: 0;
            color: black;
            background-color: black;
        }

        .hr-2 {
            height: 1px;
            border-width: 0;
            color: black;
            background-color: black;
        }

        .firstItemPadding {
            padding-left: 30px;
        }

        .nobr {
            white-space: nowrap;
        }

        .textJustified {
            text-align: justify;
            text-justify: inter-word;
        }

        td.smCell:first-child {
            width: 4%;
        }

        td.mdCell, td.mdCell:first-child {
            width: 14%;
        }

        table.pr-2 th, table.pr-2 td {
            padding: 0 5px;
        }

        .pt-2 {
            padding-top: 5px !important;
        }

        .end-text {
            font-size: 12px;
            padding-top: -10px;
            text-align: justify;
        }

        tr.spaceUnder > td {
            padding-bottom: 0.2em;
            padding-top: 0.2em;
            page-break-inside: avoid;
        }

        .top-bottom-cell {
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            line-height: 2em
        }

        .span-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70px;
        }

            .span-container > span {
                flex: 1;
                text-align: left;
            }

        .keep-together {
            page-break-inside: avoid;
            break-inside: avoid;
        }
    </style>
</head>
<body style="font-size:14px;">
    @if (Model is not null)
    {
        <div style="width:100%;text-align:right;">
            <img style='height:50px;border:0px solid red;' src="@Model.Logo">
        </div>
        <div style="margin-top:0px;">
            <span class='invoiceHeaders' style="font-size:10px; width:100%;display:block;background-color:lightgray;font-weight:bold;">&nbsp;&nbsp;@Model.InvoiceHeader</span>
            <hr style='margin-top:0;' class="hr">
            <table style="width:100%;">
                <tr>
                    <td>
                        <table>
                            <tr><td class="nobr">@Model.InvoiceAdress1Value</td></tr>
                            <tr><td class="nobr">@Model.InvoiceAdress2Value</td></tr>
                            <tr><td class="nobr">@Model.InvoiceName2Value</td></tr>
                            <tr><td class="nobr">@Model.InvoiceName3Value</td></tr>
                            <tr><td class="nobr">@Model.InvoiceAnsprechpartnerValue</td></tr>
                            <tr><td class="nobr">@Model.InvoiceAbteilungValue</td></tr>
                            <tr><td class="nobr">@Model.InvoiceAdress3Value</td></tr>
                            <tr><td class="nobr">@Model.InvoiceAdress4Value</td></tr>
                            <tr><td class="nobr">@Model.InvoiceAdress5Value</td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <hr style='margin-bottom:0;' class="hr">
        <span class='invoiceHeaders' style="font-size:12px; width:100%;display:block;font-weight:bold;border-top:0px solid black;background-color:lightgray">&nbsp;&nbsp;@Model.OrderNumberPOTitle @Model.OrderNumberPOValue</span>
        <hr style='margin-top:0;' class="hr">
        <table style="font-size:12px;width:100%">
            <tr class="spaceUnder">
                <td>
                    <table style="font-size:12px;width:100%">
                        <tr class="spaceUnder">
                            <td colspan=3 style="color:darkblue;font-size:26px;font-weight:bold"><i><u>@Model.DocumentType</u></i></td>
                        </tr>
                        <tr class="spaceUnder">
                            <td style="width:15%">@Model.OrderNumberTitle @Model.OrderNumberValue</td>
                            <td class="nobr" colspan="2"></td>
                        </tr>
                        <tr class="spaceUnder">
                            <td style="width:15%">@Model.OrderDateTitle @Model.OrderDateValue</td>
                            <td class="nobr" colspan="2"></td>
                        </tr>
                    </table>
                </td>
                <!-- Supplier infos -->
                <td colspan=2>
                    <table style="font-size:12px;width:100%">
                        <tr><td><br /><br /></td><td></td></tr>
                        <tr class="spaceUnder">
                            <td class="nobr" align="right">@Model.ClientNumberTitle</td>
                            <td class="nobr">@Model.ClientNumberValue</td>
                        </tr>
                        <tr class="spaceUnder">
                            <td class="nobr" align="right">@Model.InternalNumberTitle</td>
                            <td class="nobr">@Model.InternalNumberValue</td>
                        </tr>
                        <tr class="spaceUnder">
                            <td class="nobr" align="right">@Model.ShippingMethodTitle </td>
                            <td>@Model.ShippingMethodValue</td>
                        </tr>
                        <tr class="spaceUnder">
                            <td class="nobr" align="right">@Model.PayementMethodTitle </td>
                            <td>@Model.PayementMethodValue</td>
                        </tr>
                        <tr class="spaceUnder">
                            <td class="nobr" align="right">@Model.PayementTargetTitle </td>
                            <td>@Model.PayementTargetValue</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <table class="pr-2" style="width: 100%;font-size:12px;">
            <tr>
                <td class="nobr" style="width:100%;">@Model.UST_IDValue</td>
            </tr>
            <tr>
                <td class="nobr" style="width:100%;">@Model.ItemsHeaderTitle @Model.ItemsHeaderValue</td>
            </tr>
        </table>
        <div>
            <table class="pr-2" style="width: 100%;font-size:10px;">
                <tr style="background-color:lightgray">
                    <td class='smCell nobr top-bottom-cell'>@Model.PositionTitle<br /></td>
                    <td class="nobr top-bottom-cell">@Model.ArticleTitle<br />@Model.DesignationTitle</td>
                    <td class="nobr top-bottom-cell" style="min-width:150px">@Model.DescriptionTitle<br />@Model.KundenIndexTitle</td>
                    <td class="nobr top-bottom-cell">@Model.AmonutTitle</td>
                    <td class="nobr top-bottom-cell">@Model.PETitle<br />@Model.UnitTitle</td>
                    <td class="nobr top-bottom-cell" align="right">@Model.BasisPrice150Title<br />@Model.TotalPrice150Title</td>
                    <td class='smCell nobr top-bottom-cell'>@Model.CU_GTitle<br />@Model.DELTitle</td>
                    <td class="nobr top-bottom-cell" align="right">@Model.CU_SurchargeTitle<br />@Model.CU_TotalTitle</td>
                    <td class="nobr top-bottom-cell" align='right'>@Model.UnitPriceTitle<br />@Model.UnitTotalTitle</td>
                </tr>
                @foreach (var itemData in Model.Items)
                {
                    if (!string.IsNullOrEmpty(itemData.PostextValue) && !string.IsNullOrWhiteSpace(itemData.PostextValue))
                    {
                        <tr>
                            <td style="font-weight:bold" colspan="8">@itemData.PostextValue</td>
                        </tr>
                    }
                    <tr class="spaceUnder">
                        <td class="nobr">@itemData.PositionValue</td>
                        <td class="nobr">@itemData.ArticleValue</td>
                        <td style="max-width:100px">@itemData.DescriptionValue</td>
                        <td class="nobr" align="right">
                            <div class="span-container">
                                <span>@itemData.OriginalAmountValue</span>
                                <span>@Model.OrderedTitle</span>
                            </div>
                        </td>
                        <td class="nobr">@itemData.PEValue</td>
                        <td class="nobr">@itemData.BasisPrice150Value</td>
                        <td class="nobr">@itemData.Cu_GValue</td>
                        <td class="nobr" align='right'>@itemData.CU_SurchargeValue</td>
                        <td class="nobr" align='right'>@itemData.UnitPriceValue</td>
                    </tr>
                    <tr class="spaceUnder">
                        <td></td>
                        <td style="max-width: 100px" colspan="2">@itemData.DesignationValue</td>
                        <td class="nobr" align="right">
                            <div class="span-container">
                                <span>@itemData.RestAmountValue</span>
                                <span>@Model.DeliveredTitle</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="spaceUnder">
                        <td></td>
                        <td class="nobr">@Model.lieferterminTitle : @itemData.lieferterminValue</td>
                        <td class="nobr">@itemData.KundenIndexValue</td>
                        <td class="nobr" align="right">
                            <div class="span-container">
                                <span>@itemData.AmountValue</span>
                                <span>@Model.OpenTitle</span>
                            </div>
                        </td>
                        <td class="nobr">@itemData.UnitValue</td>
                        <td class="nobr" align="right">@itemData.TotalPrice150Value</td>
                        <td class="nobr">@itemData.DELValue</td>
                        <td class="nobr" align='right'>@itemData.CU_TotalValue</td>
                        <td class="nobr" align='right'>@itemData.UnitTotalValue</td>
                    </tr>
                    if (!string.IsNullOrEmpty(itemData.DELFixiertValue) && !string.IsNullOrWhiteSpace(itemData.DELFixiertValue))
                    {
                        <tr>
                            <td colspan="8" align="right">@itemData.DELFixiertValue</td>
                        </tr>
                    }
                    <tr><td colspan='9'><hr class='hr'></td></tr>
                }
                <tr class="spaceUnder" style="font-weight:700">
                    <td colspan='7'></td>
                    <td align='right'>@Model.SummarySumTitle</td>
                    <td align='right' class='nobr'>@Model.SummarySumValue</td>
                </tr>
                <tr class="spaceUnder" style="font-weight:700">
                    <td colspan='7'></td>
                    <td align='right'>@Model.SummaryUSTTitle</td>
                    <td align='right'>@Model.SummaryUSTValue</td>
                </tr>
                <tr><td colspan='8'></td><td class='hr-2'></td></tr>
                <tr class="spaceUnder" style='font-weight:700;'>
                    <td colspan='7'></td>
                    <td align='right' class='pt-2'><b>@Model.SummaryTotalTitle</b></td>
                    <td align='right' class='pt-2' style='font-weight:bold;width:100%'>@Model.SummaryTotalValue</td>
                </tr>
            </table>
        </div>
        <br />
        <br />
        <div style="page-break-before:auto;">
            <table style=" font-size:12px;">
                <tr class="spaceUnder">
                    <td colspan="9">
                        ■ <span style="display: inline-block;width: 630px;padding-left: 2px;">@Model.LastPageText1</span>
                    </td>
                </tr>
                <tr class="spaceUnder">
                    <td colspan="9">
                        ■ <span style="display: inline-block;width: 630px;padding-left: 2px;">@Model.LastPageText2</span>
                    </td>
                </tr>
                <tr class="spaceUnder">
                    <td colspan="9">
                        ■ <span style="display: inline-block;width: 630px;padding-left: 2px;">@Model.LastPageText3</span>
                    </td>
                </tr>
                <tr class="spaceUnder">
                    <td colspan="9">
                        ■ <span style="display: inline-block;width: 630px;padding-left: 2px;">@Model.LastPageText4</span>
                    </td>
                </tr>
                <tr class="spaceUnder">
                    <td colspan="9">
                        ■ <span style="display: inline-block;width: 630px;padding-left: 2px;">@Model.LastPageText5</span>
                    </td>
                </tr>
            </table>
            <a href='https://www.psz-electronic.com/wp-content/uploads/2019/02/19-02-04-PSZ_Informationspflicht-Datenschutz-Art.13_Gesch%C3%A4ftspartnerBewerber.pdf' style="font-size:9.25px;" class='nobr'>
                https://www.psz-electronic.com/wp-content/uploads/2019/02/19-02-04-PSZ_Informationspflicht-Datenschutz-Art.13_Gesch%C3%A4ftspartnerBewerber.pdf
            </a>
            <br /><br /><br />
            <table style="width:100%;font-size:12px;">
                <tr>
                    <td>
                        <table>
                            <tr><td class="nobr" style="font-weight:bold;text-decoration:underline">@Model.Lieferadresse</td></tr>
                            <tr><td class="nobr">@Model.LAnrede</td></tr>
                            <tr><td class="nobr">@Model.LVorname</td></tr>
                            <tr><td class="nobr">@Model.LName2</td></tr>
                            <tr><td class="nobr">@Model.LName3</td></tr>
                            <tr><td class="nobr">@Model.Lansprechpartner</td></tr>
                            <tr><td class="nobr">@Model.Labteilung</td></tr>
                            <tr><td class="nobr">@Model.LStrabe</td></tr>
                            <tr><td class="nobr">@Model.LLandPLZOrt</td></tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />
            @* <p style="text-decoration:underline; margin-bottom:2px;"><i>Auszeichnungen:</i></p>
            <p><i>@Model.Top100Description</i></p>
            <div style="display:flex">
                <img style='height:6cm; margin-right:0.5cm;' src="@Model.Top100Logo" />
                <img style='height:6cm; margin-right:0.5cm;' src="@Model.Top100_2026Logo" />
            </div> *@
            <div class="keep-together">
                <div>
                    <span><u><i>@Model.LastPageText10</i></u></span>
                </div>
                <p><i>@Model.Top100Description</i></p>
                <div style="display:flex">
                    <img style='height:9cm; margin-right:0.5cm;' src="@Model.Top100Logo" />
                    <img style='height:9cm; margin-right:0.5cm;' src="@Model.Top100_2026Logo" />
                </div>
            </div>
        </div>
        <pre></pre>
        <br />
    }

</body>
</html>
