@model IEnumerable<Psz.Core.CRP.Reporting.Models.AuswertungEndkontrolleReportModel>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        @@page {
            margin-top: 70;
            margin-bottom: 50;
            margin-left: 50;
            font-family: Helvetica, sans-serif;
        }

        body {
            font-family: Helvetica, sans-serif;
        }

        table {
            border-collapse: collapse;
        }

        table td, table td * {
            vertical-align: top;
            border-width: 0px;
        }

        .table-cell {
            color: black;
            font-weight: bold;
            font-size: 12px;
            padding: 5px 5px;
            white-space: nowrap;
            text-align: center;
        }
        .red-label
        {
            background-color:red;
            color: white;
            font-weight: bold;
            font-size: 12px;
            padding:4px;
        }
        .blue-label
        {
            background-color: blue;
            color: white;
            font-weight: bold;
            font-size: 12px;
            padding: 4px;
            width:20%;
        }
        .bold{
            font-weight: bold;
        }
        .medium
        {
            font-size:10px;
        }

        .hr {
            height: 0.5px;
            border-width: 0;
            color: black;
            background-color: black;
        }
    </style>
</head>
<body style="font-size:14px;">
    <h3>Endkontrolle</h3>
    @if(Model !=null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <span class="bold medium">Artikelnummer</span>
            <span class="red-label">@item.Urs_Artikelnummer</span>
            <tr><td colspan='9'><hr class='hr'></td></tr>
            <table style="width:100%">
                <tr>
                    <th class="blue-label medium">Erstellt am:</th>
                </tr>
                <tr>
                    <th class="table-cell">Fertigungsnummer</th>
                    <th class="table-cell">Prod. Termin</th>
                    <th class="table-cell">Menge Offen</th>
                    <th class="table-cell">Original Menge</th>
                    <th class="table-cell">Ursprüngliche FA</th>
                </tr>
                <tr>
                    <th class="blue-label medium">@item.Datum</th>
                </tr>
                <tr>
                    <td class="table-cell">@item.Fertigungsnummer</td>
                    <td class="table-cell">@item.Termin_Bestatigt1</td>
                    <td class="table-cell">@item.MengeOffen</td>
                    <td class="table-cell">@item.GesamtMenge</td>
                    <td class="table-cell">@item.Urs_Fa</td>
                </tr>
            </table>
            <br />
        }
    }
    <pre></pre>
</body>
</html>